<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img id="img-of-the-day">
<script>
    let query = 'https://api.nasa.gov/planetary/apod?api_key=A1auXMAPB2aEKgttmZWjr3uUkptgPiZCUZBJ7Qd4';
    let request = new XMLHttpRequest();
    request.open('GET', query);
    request.onload = function() {
        if (request.status === 200) {
            let response = JSON.parse(request.responseText);
            document.getElementById('img-of-the-day').setAttribute('src', response.url);
        }
    };
    request.send();
</script>
<br>
<a href="/create-nasa">Back to picture</a>
<form>
    Search by first name:
    <input name="s" type="text"/>
    <input type="submit" value="Search"/>
</form><br/>
<table border="1">
    <th:block th:each="nasa : ${nasas}">
        <tr>
            <th>Point</th>
            <th>Comment</th>
        </tr>
        <tr>
            <td th:text="${nasa.point}"></td>
            <td th:text="${nasa.feedback}"></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/nasas'(page=${nasas.number - 1})}" th:if="${nasas.hasPrevious()}">Previous</a>
    <span th:text="${nasas.number + 1}"></span>/<span th:text="${nasas.totalPages}"></span>
    <a th:href="@{'/nasas'(page=${nasas.number + 1})}" th:if="${nasas.hasNext()}">Next</a>
</div>
</body>
</html>